---
import Layout from "../layouts/Layout.astro";
import SiteNav from "../components/SiteNav.astro";
import Hero from "../components/Hero.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import ProjectsTable from "../components/ProjectsTable.astro";
import Skills from "../components/Skills.astro";
import Timeline from "../components/Timeline.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <SiteNav />
  <main>
    <Hero />
    <FeaturedProjects />
    <ProjectsTable />
    <Skills />
    <Timeline />
    <Contact />
  </main>
</Layout>
